test/Gradebook.Tests/bin/Debug/netcoreapp3.1/Gradebook.Tests.dll
test/Gradebook.Tests/bin/Debug/netcoreapp3.1/Gradebook.Tests.dll
test/Gradebook.Tests/obj/Debug/netcoreapp3.1/Gradebook.Tests.pdb
test/Gradebook.Tests/obj/Debug/netcoreapp3.1/Gradebook.Tests.csprojAssemblyReference.cache
